.prettyprint{
  border: none !important;
  overflow-x: scroll;
}

.tag,.pln,.pun.,.lit,.kwd.,.str{
  font-size: 14px;
}

.linenums > li[class*='L']{
  background-color: transparent;
  color: #656d78;
  list-style: decimal;
}

.tag{
  color: #ed5565;
}

.str{
  color: #F49600;
}

.kwd{
  color: #4fc1e9;
}

.pun{
  color: #333;
}

.pln{
  color: #333;
}

.lit{
  color: #ac92ec;
}

.atn{
  color: #a0d468;
}

.com{
  color: #4fc1e9;
}

.atv{
  color: #F49600;
}

.typ{
  color: #4fc1e9;
}
