.horizon{
  margin-bottom: 24px;
}

.horizon-16{
  margin-bottom: 16px
}



/*HTML PAGO*/


.tabla{
  width: 100%;
  border-collapse:collapse;
}

.tabla__head .tabla__fila .tabla__titulo{
  padding: 15px;
}

.tabla__titulo a {
  text-decoration: none;
}

.tabla__celda{
  padding: 8px 0 8px 35px;
}

.tabla__body .tabla__fila .tabla__celda{
  padding-left: 48px;
}
