html,body{
  height: 100vh;
  font-size: 16px;
  color: $color_grey_dark;
}

h1,h2,h3,h4,h5,h6{
  color: $color_grey_darker;
  font-family:$font_heading;
  line-height:1.3;
  font-weight:400;
  letter-spacing: 0.5px;
  margin: 0;
}
h5{
  /*text-transform: uppercase;*/
  font-weight: 300;
}
a{
  text-decoration: underline;
}
h1{font-size: map-get($text_sizes, double);}
h2{font-size: map-get($text_sizes, tallest);}
h3{font-size: map-get($text_sizes, midtall);}
h4{font-size: map-get($text_sizes, big);}
h5{font-size: map-get($text_sizes, medium);}
h6{font-size: map-get($text_sizes, regular);}

p{
  font-size: map-get($text_sizes, mini);
  line-height: 1.6;
  color: $color_grey_darker;
  margin: 16px 0;
}

.content{
  padding: 0 3rem;
}

.horizon{
  margin-bottom: 60px !important;

  &--top{
    margin-top: 64px !important;
  }
}
.common-box{
  background: transparent;
  box-shadow: none;
  &__figure{
    padding:$base_padding;
  }

}
.navs-body{
  display: flex;
}

.brand{
  width: 100%;
  padding: .75rem .75rem .75rem 4em;

  .logo{
    max-width: 200px;
  }
}

.header-bar{
  position: fixed;
  height: 100%;
  width: 25%;
  float: left;
  background-color: $color_white;
  overflow-y: scroll;
}

.navegacion-lateral{

  &__menu{
    width: 100%;
    padding-left: 4em;
  }

  &__item{
    font-size: 12px;
    color: #333;
    padding: 12px 0;
    text-transform: uppercase;
    text-decoration: none;

    a{
      text-decoration: none;
      &:hover{
        color: #f49600;
      }
    }

    &--inactivo{

    }

    &--sub{
      cursor: pointer;
      color: #333;
      padding: 12px 0;
      font-size: 12px;
      text-transform: uppercase;

      a{
        text-decoration: none;
        color: #333;
        &:hover{
          color: #f49600;
        }
      }
    }

    &--child{
      padding: 12px;
      text-transform: capitalize;

      a{
        color: #9B9B9B;
        position: relative;
      }

      a:hover{
        color: #333;
        &:before{
          position: absolute;
          left: -12px;
          font-family: 'material-ketchup';
          content: '\e409';
        }
      }

      /*
      a:active{
        color: #333;
        &:before{
          position: absolute;
          left: -12px;
          font-family: 'material-ketchup';
          content: '\e409';
        }
      }*/
    }

    a{
      color: #333;
    }
  }

}

.javaScript{
  background-color: $color_grey_regular;
  padding: 5px;
  font-size: 8px;
  color:$color_white;
  font-weight: 400;
  margin-left: 5px;
}

main{
  width: 75%;
  height: 100%;
  float: right;
  background-color: $color_grey_dark;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.portada{
  background-image: url('../images/backgrounds/portada.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;


  &__titulo{
    max-width: 100%;
    margin-left: 48px;
    padding: 150px 0 30px 0;

    h1{
      font-size: 45px;
      /*background-color: rgba(15,144,208,.9);*/
      font-weight: 300;
      color: $color_white;
      text-transform: uppercase;
      padding: 10px;
      display: inline;
    }
  }
}
.uno{background-color: rgba(244,150,0,.9);}
.dos{background-color: rgba(191,191,191,.9);}
.tres{background-color: rgba(100,166,34,.9);}
.cuatro{background-color: rgba(248,251,155,.9);color:#000!important;}

.title-page{
  display: flex;
  justify-content: space-between;
  background-color: #e75152;
  padding: 35px 17px;

  h1{
    margin: 0;
    color: $color_white;
  }

  &--ghost{
    background: transparent;
    color: $color_grey_dark;
    border-bottom: 1px solid $color_grey_regular;
    display: flex;align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;

    .boton-descarga{
      margin: 0;
    }

    h1{
      color: $color_grey_darker;
    }
  }
}

.nav-animation{
  background-color: $color_white !important;
  transition: .1s;
}

.other-nav{
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  border-bottom: 1px solid $color_grey_light;
  width: 100%;
  z-index: 9999;

  .menu-other{
    display: flex;
    margin: 0;
    padding: 0;

    li{
      font-weight: 600;

      &:first-child{
        padding-left: 0;
        margin-left: 0;
      }
      a{
        &:hover{
          color: #112378;
        }
      }
    }
  }
}
.content-box{
  background-color: $color_grey_dark;
  border-radius: 0;
  margin: 0;
  padding: 3rem;
  padding-top: 0;
  &--grey{
    background-color: $color_grey_lightest;
    border: 1px solid $color_grey_light;
  }
}

.boton-descarga{
  color: $color_grey_dark;

  a{
    display: flex;
    justify-content: center;

    span{
      font-size: map-get($text_sizes, big);
      margin-right: 8px;
    }
  }
}
/*.tag{
  margin-top: 8px;
  font-size: map-get($text_sizes, ten);
  color: #9B9B9B;

}*/

.introduccion{
  p{
    font-size: 14px;
  }
}

.item{
  margin: 23px 0;
  p{
    font-size: 14px;
  }
  h4{
    font-size: map-get($text_sizes, tallest);
    font-weight: 300;
  }
}

.title-section{
  h1,h2,h3{
    text-transform: uppercase;
    font-weight: 300;
  }
  h1{font-size: map-get($text_sizes, duoble);}
  h2{font-size: map-get($text_sizes, tallest);}
  h3{font-size: map-get($text_sizes, midtall);}
}
.divider{
  height: 1px;
  width: 100%;
  background-color: $color_grey_light;
  &--dashed{
    background-color: $color_grey_light;
    margin: 15px 0;
  }
}

.card{
  .common-box{
    &__figure{
      img{
        width: 80px;
      }
    }

    &--horizontal{
      .common-box{
        &__figure{
        flex: 0;
        }
      }
    }
  }
}

//breadcrumbs
.breadcrumbs-bar-frame{
  background-color: #F1F1F1;
  padding: 0 3.6rem;

  .breadcrumb{
    display: flex;
    padding: 0;
    margin:0;

    &__item{
      a{
        font-size: map-get($text_sizes,ten);
        color:$color_black;
        text-transform: uppercase;
        text-decoration: none;

        &:hover{
          color: #F2E10A;
        }
      }
      &--activo{
        color: #999999;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}
.ejemplo{
  background-color: $color_white;
  padding: 16px;
  margin: 16px 0;

  a{float: right;}
  img{width: 100%;margin-top:24px}
}

//sidebar
.sidebar{
  position: fixed;
  right: 30px;
  width: 17%;

 .menu-item{
    font-size: map-get($text_sizes, ten);
    padding-left: .75rem;
    a{
     color: $color_grey_regular;
     padding: 0 0 0 5px;
   }
 }
}

.overMouse{
    color:red;
    border-left: 2px solid $color_main_regular;
    font-weight: 900;
    transition: opacity 5s;

}

.downloads{
  ul{
    padding-left: 1rem;

    li{
      font-size: map-get($text_sizes, ten);
      display: flex;
      align-items: center;
      cursor: pointer;
      a{
      color: $color_grey_regular;
      margin-left: 5px;
      }
    }
  }
}

.menu-item--has-children{
  display: block;
  color: $color_grey_dark !important;
  &:hover,&:active{
    color: $color_grey_dark !important;
  }
  .menu-item{
    display: block;
    a{
    &:hover,&:active{
      color: $color_grey_dark !important;
    }
   }
  }
}
.menu-item--has-children{
  &:hover > .sub-menu{
    display: block;
    position: initial;
    transition: all 5s ease-in;
  }
}

.sub-menu__item{
  padding-left: $base_padding;
  display: flex;
  align-items: center;
  color: #112378;

  &:hover{
    background-color: transparent;
  }

  a{
  color: $color_grey_dark;
  font-size: map-get($text_sizes, tiny);
  }
}

.button{
  margin: 0;
  &--main{
    &--grey{
      background-color: $color_grey_regular;
    }
  }
}

.mini-nav{
  max-height: 180px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  li{
    a{
      font-size: map-get($text_sizes, tiny);
      color: #333;
      line-height: 1.6;
      &:hover{
        font-weight: 700;
      }
    }
  }
}

.ayuda{
  p{
    margin-top: 16px;
  }
  .menu-footer{
    .footer-bar__link{
      font-size: map-get($text_sizes, tiny);
      color: #333;
      font-weight: 400;

      &:hover{
        font-weight: 700;
      }
    }
  }
}

.guias{
  .common-box--horizontal{
    align-items: flex-start;
  }
}

.button{
  font-weight: 400;
  padding: 16px 30px;
  border-radius: 2px;
  a{
    span{
      margin-right: 8px;
    }
  }
  &--secondary{
    background-color: #112378;
  }

  &--demo{
    background-color: #999999;
  }
}

.margin{
  &--top{margin-top: 16px}
  &--bottom{margin-bottom: 16px}
}

.in{
  display: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width:800px){
  body{
  background-color: red!important;
  }

  .header-bar{
    width: 100%;
    z-index: 999;
    height: auto;
    position: sticky;

  }

  .navegacion-lateral__menu{
    padding-left: 0;
    display: flex;
    justify-content: space-around;
  }

  .brand{
    text-align: center;
  }

  main{
    width: 100%;
  }
}


//deplegables
.desplegable{

  &__container{}

  &__head{
    background-color: #fff;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .desplegable__title{
      margin-left: 16px;
      font-size: 14px;
      font-family:$base_sans_font_family;
      font-weight: 500;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }

  &__button{
    background-color: $color_white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    i{
      color: $color_black;
      font-size: 30px;
    }
  }

  &__body{
    background-color: #FDFDFD;
    padding: $base_padding;
    display: none;
    p{
      font-size: map-get($text_sizes,tiny);
    }
  }
}

.rotate_arrow{
  transform: rotate(90deg);
}

.footer-bar{
  background-color: #F2F2F2 ;
  &__menu{
    display: flex;
  }

  a {
    font-size: 12px;
    color: #333;
    font-weight: 400;
    padding: 16px;
    margin: 0;

    &:hover{
      font-weight: 700;
      color: #333;
    }
  }

  a:not(:first-child){
    margin : 0;
  }

}

.download-box{
  text-align: right;
}

.sub-activo{
  color: #333 !important;
  &:before{
    position: absolute;
    left: -12px;
    font-family: 'material-ketchup';
    content: '\e409';
  }
}

.color-principal{
  padding: 4px;
  border: 1px solid #D1D0D0;
}
