///////////////////////////
///////////////////////////BOTONES
///////////////////////////

.btn{
  padding: 10px 30px;
  font-family: $base_sans_font_family;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-font-smoothing: antialiased;

  &--principal{
    background-color: #F49600;
    color: #fff;

    &:hover{
      color: #fff;
      cursor: pointer;
      background-color: #E78400;
    }
  }

  &--borde{
    color: #F49600;
    border: 1px solid #F49600;
    background: transparent;

    &:hover{
      background-color: #F49600;
      color: #fff;
    }
  }

  &--mini{
    font-size: 12px;
  }
}
