/**
 * rome - Customizable date (and time) picker. Opt-in UI, no jQuery!
 * @version v2.1.22
 * @link https://github.com/bevacqua/rome
 * @license MIT
 */
.rd-container {
  display: none;
  border: 1px solid #333;
  background-color: #fff;
  padding: 10px;
  text-align: center;
}
.rd-container-attachment {
  position: absolute;
}
.rd-month {
  display: inline-block;
  margin-right: 25px;
}
.rd-month:last-child {
  margin-right: 0;
}
.rd-back,
.rd-next {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
}
.rd-back[disabled],
.rd-next[disabled] {
  cursor: default;
}
.rd-back {
  float: left;
}
.rd-next {
  float: right;
}
.rd-back:before {
  display: block;
  content: '\2190';
}
.rd-next:before {
  display: block;
  content: '\2192';
}
.rd-day-body {
  cursor: pointer;
  text-align: center;
}
.rd-day-selected,
.rd-time-selected,
.rd-time-option:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}
.rd-day-prev-month,
.rd-day-next-month {
  color: #999;
}
.rd-day-disabled {
  cursor: default;
  color: #fcc;
}
.rd-time {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  min-width: 80px;
}
.rd-time-list {
  display: none;
  position: absolute;
  overflow-y: scroll;
  max-height: 160px;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #333;
}
.rd-time-selected {
  padding: 5px;
}
.rd-time-option {
  padding: 5px;
}
.rd-day-concealed {
  visibility: hidden;
}

///////////////////////////
///////////////////////////CALENDARIO
///////////////////////////
.rd-container{
  background-color: #F1F1F1;
  padding: 0;
  border: none;
  width: 270px;
}

.rd-month{
  width: 100%;
}

.rd-month-label{
  padding: 16px;
  background-color: #bebebe;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.rd-back,.rd-next{
  background-color: #A6A6A6;
  width: 49px;
  height: 49px;
}

.rd-back:before,.rd-next:before{
  color: #fff;
  font-family: $icon_font;
}

.rd-back:before{
  content: "\e014";
}
.rd-next:before{
  content: "\e013";
}

.rd-days,.rd-days-row.rd-day-body{
  display: block;
  width: 100%;
}

.rd-days{
  padding: 16px;
}

.rd-days-row{
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}

.rd-day-head{
  padding-bottom: 10px;
}

.rd-day-body{
  background-color: #fff;
  padding: 7px;
  font-size: 14px;
  color: #333333;
}

.rd-day-prev-month, .rd-day-next-month{
  background-color: #f1f1f1;
  color: #D1D0D0;
}
.rd-day-selected{
  background-color: #F49600;
  color: $white;
}
