///////////////////////////
///////////////////////////HEADS
///////////////////////////

h1{font-size: map-get($text_sizes, double)!important;}
h2{font-size: map-get($text_sizes, tallest)!important;}
h3{font-size: map-get($text_sizes, midtall)!important;}
h4{font-size: map-get($text_sizes, big)!important;}
h5{font-size: map-get($text_sizes, medium)!important;}
h6{font-size: map-get($text_sizes, regular)!important;}

///////////////////////////
///////////////////////////ALERTAS
///////////////////////////

.caja-alerta{
  background-color: #eee;
  padding: 24px;
  color: #000;
  display: flex;
  align-items: center;

  &__icono{
    span{
      font-size: 37px;
    }
  }
  &__cuerpo{
    margin: 16px 0 0 16px;
  }
  &__titulo{
    font-size: 14px;
    font-weight: 700
  }
  &__mensaje{
    font-size: 12px ;
    font-weight: 400;
  }
  &__correo{
    font-weight: 700
  }

  &--exito{
    background-color: #F6F9F2;
    color: #53950f;

    h6,p,span{
      color: #53950f;
    }
  }
  &--informacion{
    background-color: #F1F8FC;
    color: #027DC1;

    h6,p,span{
      color: #027DC1;
    }
  }
  &--error{
    background-color: #FBF1F2;
    color: #AD141E;

    h6,p,span{
      color: #AD141E;
    }
  }
}

///////////////////////////
///////////////////////////TABLAS
///////////////////////////

.tabla {
  width: 100%;
  font-size: 12px;
  color: #333;
  border: 2px solid #F1F1F1;
  border-collapse: collapse;

  &__fila{
    border-bottom: 2px solid #F1F1F1;
  }

  &__input{
    margin-right: 8px;
  }

  &__celda{
    padding: 8px 0 8px 35px;
  }

  &__head{
    background-color: #F1F1F1;

    .tabla__fila{

      .tabla__titulo{
        background-color: #F1F1F1;
        font-size: 12px;
        font-weight: 700;
        color: #333;
        padding: 15px;

        .tabla__orden{
          color: #333;
        }

        .icono{
          font-size: map-get($text_sizes,ten);
        }
      }
    }
  }

  &__body{
    background-color: #F1F1F1;

    .tabla__fila{
      background-color: #fff;

      .tabla__celda{
        background-color: #fff;
        padding-left: 48px;
      }
    }
  }
}

.tabla-responsiva{
  width: 100%;
  display: block;
  overflow-x: auto;
}

///////////////////////////
///////////////////////////BARRA DE PROGRESO
///////////////////////////

.barra-progreso{
  width: 100%;

  &__pasos{
    width: 100%;
    display: flex;
    background-color: #fff;
    text-align: center;
  }

  &__paso{
    background-color: #D1D0D0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 14px 48px;
    margin-right: 8px;
    position: relative;
    color: $white;
    width: 100%;
    /*height: 45px;*/

    &:first-child{
      &::before{
        content: none;
      }
    }

    &:last-child{
      margin-right: 0;

      &::after{
        content: none;
      }
    }

    &::after,&::before{
      content: "";
      position: absolute;
      display: block;
      transform: rotate(45deg);
      width: 31px;
      height: 31px;
      z-index: 1;
    }

    &::before{
      top: 7px;
      left: -16px;
      background-color: #fff;
    }

    &::after{
      top: 7px;
      right: -16px;
      background-color: #D1D0D0;
      z-index: 2;
    }

    &--activo{
      background-color: #9B9B9B;

      &::after{
        background-color: #9B9B9B;
      }
    }
  }
}

@media screen and (min-width: 801px){
  .barra-progreso{
    display: block;
  }

  .barra-progreso-mini{
    display: none;
  }
}
@media screen and (max-width: 800px){
  .barra-progreso{
    display: none;
  }

  .barra-progreso-mini{
    display: block;
  }
}

///////////////////////////
///////////////////////////breadcrumbS
///////////////////////////

.breadcrumb{
  width: 100%;
  display: flex;

  &__item{
    color: #DA7300;
    font-weight: 400;
    font-size: 10px;

    a{
      color: $main_regular;
    }

    &::after{
      content: "/";
      margin: 0 8px;
      color: #717171;
    }

    &:last-child{
      &::after{
        content: none;
      }
    }
    &--activo{
      color: #717171;
    }
  }
}

///////////////////////////
///////////////////////////PAGINACION
///////////////////////////

.paginacion{
  display: flex;
  a{
    text-decoration: none;
  }


  &__item{
    border: 1px solid #F1F1F1;

    &:first-child{
      border-radius: 5px 0 0 5px;
    }
    &:last-child{
      border-radius: 0 5px 5px 0;
    }

    &--activo{
      background-color: #F49600;
      text-decoration: none;
      border: 1px solid #F49600;

      .paginacion__link{
        color: #fff;
      }
    }

    &--desactivado{
      color: #9B9B9B;
      background-color: #F1F1F1;
      cursor: no-drop;

      a:hover{
        color: #333;
        text-decoration: none;
        cursor: no-drop;
      }
    }
  }
  &__link{
    color: #333;
    padding: 15px 20px;
    display: block;
    font-size: 14px

  /*  &:hover{
      background-color: #F49600;
      color: #fff;
      text-decoration: none;
    }*/
  }

}

///////////////////////////
///////////////////////////NAVEGACION
///////////////////////////

.navegacion{
  width: auto;

  &__menu{
    display: flex;
    margin: 0;
  }

  &__item{}

  &__link{
    padding: 8px 24px;
    display: block;
  }

  &--principal{
    background-color: #F1F1F1;

    .navegacion__menu{
      margin: 0;
      padding: 0;
    }

    .navegacion__item{
      margin: 0;
      color: #9B9B9B;

      &--activo{
        background-color: #f49600;

        a{
          color: #fff;
        }
      }
    }

    .navegacion__link{
      color: #9B9B9B;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  &--secundaria{
    background-color: #F49600;
    padding-left: 25px;

    .navegacion__menu{}

    .navegacion__item{

      &--activo{
        font-weight: 700;
      }
    }

    .navegacion__link{
      color: #fff;
      font-size: 12px;
      padding: 8px 0;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }

      &:after{
        content: "|";
        color: #fff;
        padding: 0 8px;
      }
    }
  }
}

///////////////////////////
///////////////////////////MODULOS
///////////////////////////

.modulo{
  /*width: 100%;*/
  background-color: #F1F1F1;
  border: 2px solid #F1F1F1;
  padding: 24px;
  color: #000;

  &__divisor{
    width: 100%;
    margin: 24px auto;
    height: 1px;
    background-color: #D1D0D0;
  }

  &__titulo{
    font-size: 16px;
    font-weight: 700;
  }
  /*
  &__tooltip{
    margin: 16px 0;
    span[posicion^="izquierda"]:hover:after{
      transform: translate(-105%,-55%);
    }
    span[posicion^="izquierda"]:hover:before{
      left: -23px;
      top: 13%;
    }
    span[posicion^="arriba"]:hover:after{
      transform: translate(-45%,-130%);
    }
    span[posicion^="arriba"]:hover:before{
      left: 2px;
      top: -115%;
    }
    span[posicion^="derecha"]:hover:after{
      transform: translate(41%,-60%);
    }
    span[posicion^="derecha"]:hover:before{
      left: 28px;
      top: -8%;
    }

    span[posicion^="abajo"]:hover:after{
      transform: translate(-45%,10%);
    }
    span[posicion^="abajo"]:hover:before{
      left: 2px;
      top: 108%;
    }
  }*/
  &__mensaje{
    font-size: 14px;
    margin: 10px 0;
  }

  &--secundario{
    background-color: transparent;
  }

  &--doble{
    display: flex;

    .divisor{
      flex: 1;

      &:last-child{
        margin-left: 24px;
        display: flex;
        align-items: flex-end;
      }
    }
  }

  &--accion{
      background-color: #FEF9F0;
      border: none;


    .datos{
      margin: 12px 0;
      p{margin:0;}

      &__rotulo{
        font-size: 8px;
        font-weight: 400;
        color: #717171;
        text-transform: uppercase;
        margin-bottom: 4px;
      }
      &__valor{
        font-size: 14px;
        color: #333;
        font-weight: 400;
      }
    }
  }

  &__impresion{
    text-align: right;
    margin-top: 32px;
  }
}
