@font-face {
  font-family: 'banco-estado';
  src:  url('../fonts/banco-estado.eot?16a6i1');
  src:  url('../fonts/banco-estado.eot?16a6i1#iefix') format('embedded-opentype'),
    url('../fonts/banco-estado.ttf?16a6i1') format('truetype'),
    url('../fonts/banco-estado.woff?16a6i1') format('woff'),
    url('../fonts/banco-estado.svg?16a6i1#banco-estado') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icono-family {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'banco-estado' !important;
  speak: none;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding: 0 4px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icono{
  @extend %icono-family;

  &--error{
    &:before{
      content: $icono-error;
    }
  }

  &--check{
    &:before{
      content: $icono-check;
    }
  }

  &--descarga{
    &:before{
      content: $icono-descarga;
    }
  }

  &--exito{
    &:before{
      content: $icono-exito;
    }
  }

  &--imprimir{
    &:before{
      content: $icono-imprimir;
    }
  }

  &--informacion{
    &:before{
      content: $icono-informacion;
    }
  }

  &--mail{
    &:before{
      content: $icono-mail;
    }
  }

  &--pdf{
    &:before{
      content: $icono-pdf;
    }
  }

  &--tooltip{
    &:before{
      content: $icono-tooltip;
    }
  }
  &--radio-button{
    &:before{
      content: $icono-radio-button;
    }
  }
  &--flecha-abajo{
    &:before{
      content: $icono-flecha-abajo;
    }
  }
  &--flecha-arriba{
    &:before{
      content: $icono-flecha-arriba;
    }
  }
  &--flecha-derecha{
    &:before{
      content: $icono-flecha-derecha;
    }
  }
  &--flecha-izquierda{
    &:before{
      content: $icono-flecha-izquierda;
    }
  }
  &--calendario{
    &:before{
      content: $icono-calendario;
    }
  }
}
