[tooltip]{
  position: relative;

  &:before,&:after{
    position: absolute;
    display: none;
    /*opacity: 0;*/
    pointer-events: none ;
  }
  &:before{
    content: '';
    z-index: 1001;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #222;
  }
  &:after{
    content: attr(tooltip);

    //seteo de contenido
    font-family: $base_sans_font_family;
    background-color: #222222;
    color: $white;
    font-size: map-get($text_sizes,mini);
    z-index: 1000;
    width: 250px;
    padding: 24px 16px;
    border-radius: 5px;
    line-height: 16px;
    font-weight: 300;
  }

  //mostrar tooltip al hover
  &:hover:before,&:hover:after{
    display: block;
  }
}

//posiciones de los tooltip
div[posicion^="izquierda"]:hover:after{
  transform: translate(-105%,-55%);
}
div[posicion^="izquierda"]:hover:before{
  left: -23px;
  top: 13%;
}
div[posicion^="arriba"]:hover:after{
  transform: translate(-45%,-130%);
}
div[posicion^="arriba"]:hover:before{
  left: 2px;
  top: -115%;
}
div[posicion^="derecha"]:hover:after{
  transform: translate(15%,-55%);
}
div[posicion^="derecha"]:hover:before{
  left: 28px;
  top: -8%;
}

div[posicion^="abajo"]:hover:after{
  transform: translate(-45%,10%);
}
div[posicion^="abajo"]:hover:before{
  left: 2px;
  top: 108%;
}
