//modulo de codigo
.code-tabs{

  display: flex;
  flex-direction: column;
  position: relative;

  .code-tabs__menu{
    background-color: $color_white;
  }
  .code-box{

    &--html,&--css{position: absolute;}

    &--html{
      z-index: 3;
    }
  }
}

.code-box{
  margin: 0;
  background-color: #2f3640;
  padding: 10px;

  &__tabs{
    display: flex;
    flex-direction: row-reverse;

    ul{
      display: flex;
      margin: 0;

      li{
        padding: $base_padding;
        margin: 0;
      }
    }
  }

  &__body {
    p{margin: 0;}
  }

  &__copy{
    text-decoration: none;
    border-radius: 5px !important;
    font-size: map-get($text_sizes, tiny);
    display: flex;
    align-items: center;
    color: #D1D0D0;
    position: relative;

    &:hover{
      color: #F49600;
    }

  }

  pre{
    background-color: $color_white;
    font-family: 'Courier', monospace;
    max-height: 400px !important;
    overflow-y: scroll !important;
    padding: 8px !important;
  }

}

code{
  background-color: transparent;
}

.wrapper {

  margin:8px auto 48px auto;
  width:100%;
  color:#555;
  font-size:14px;
  line-height:24px;
}

.tabs {
  background-color: #eee;
  margin: 0;
  padding: 0;
  display: flex;

  li {
    margin: 0;
    width: 100%;
    background-color: #fff;
    border-right: 3px solid #eee;
    &:last-child{
      border-right: none;
    }
  }
  a {
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    color:#333;
    padding:10px 0 10px 16px;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    align-items: center;


    span.icon-elem{
      margin-right: 10px;
      font-size: 25px;
    }

    &:hover,&.active {
      background-color: $color_white;
      color: #333;
    }
  }
}
.tabgroup {
  div {
    background-color: $color_white;
  }
}
.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.css-modificadores{
  padding: 16px;
}

.listado-clases{
  list-style: disc;
  padding-left: 24px;
  .clases{
    padding: 2px 2px;
    background-color: #eee;
    border: 1px solid #d7d2cb;
    line-height: 2;
    font-size: 12px;
    white-space: nowrap;
    border-radius: 2px;
    color: #575f65;
  }
}

.mensaje-flotante{
  background-color: #f49600;
  padding: 5px 12px;
  border-radius: 5px;
  position: absolute;
  bottom: -30px;
  left: 23px;
  color: $color_white;
  font-size: map-get($text_sizes,mini);
  margin:0;
  text-align: center;

  &:after{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    transform: rotate(45deg);
    top:-7px;
    left: 33px;
    background-color: #f49600;
  }
}
