.tipogafria{
  background-color: $color_white;
  padding: 16px;
  width: 100%;
  overflow-x: auto;
  ul,ol{
    margin: 0;
    padding: 0;
  }

  &__name{
    font-size: map-get($text_sizes, regular);
    font-weight: 400;
  }

  &__example{
    p{
    font-size: map-get($text_sizes, full)!important;
    font-family: $font_heading!important;
    margin: 8px 0;
   }
  }

  &--openSans{
    font-family: $base_sans_font_family!important;
    p{
    font-family: $base_sans_font_family!important;
   }
  }
}

.tamano{
  &--logoh{font-size: map-get($text_sizes, logoh)!important;}
  &--full{font-size: map-get($text_sizes, full)!important;}
  &--beast{font-size: map-get($text_sizes, beast)!important;}
  &--double{font-size: map-get($text_sizes, double)!important;}
  &--tallest{font-size: map-get($text_sizes, tallest)!important;}
  &--main{font-size: map-get($text_sizes, main)!important;}
  &--huge{font-size: map-get($text_sizes, huge)!important;}
  &--big{font-size: map-get($text_sizes, big)!important;}
  &--midtall{font-size: map-get($text_sizes, midtall)!important;}
  &--medium{font-size: map-get($text_sizes, medium)!important;}
  &--regular{font-size: map-get($text_sizes, regular)!important;}
  &--tiny{font-size: map-get($text_sizes, tiny)!important;}
}

.grosor{
  &--bold{font-weight:700!important}
  &--regular{font-weight:400!important}
  &--medium{font-weight:500!important}
  &--light{font-weight:300!important}
}

.heads{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail{
  color: $color_grey_regular!important;

  span{
    color: $color_grey_light;
  }
}
.estilos-tipograficos{
  margin-top: 1.5rem;

  .tipo{
    font-size: 10px;
    font-weight: 400;
    color:$color_grey_regular;
  }

  .black{font-weight:900}
  .bold{font-weight:700}
  .regular{font-weight:400}
  .light{font-weight:300}
}

.caja-texto{
  border: 1px solid $color_grey_regular;
  padding: $base_padding;
}

[class*="box-parrafos--"]{
  border-bottom: 1px solid #D1D0D0;
  padding: 24px;
  &:last-child{
    border-bottom: none;
  }
}
