.anotation-box{
  border-left: 5px solid $color_main_regular !important;

  &__title{
    color: $color_main_regular;
    font-size: map-get($text_sizes, regular);
  }

  &__content{
    font-size: map-get($text_sizes, tiny);
  }

  &--warning{
    border-left-color: $color_warning_dark !important;
    .anotation-box__title{
    color: $color_warning_dark;
    }
  }

  &--danger{
    border-left-color: $color_danger_regular !important;
    .anotation-box__title{
    color: $color_danger_regular;
    }
  }
}
