///////////////////////////
///////////////////////////COLORES
///////////////////////////

//main color
$main_darker: #A35E00;
$main_dark: #E78400;
$main_regular: #F49600;
$main_light: #F8AD38;
$main_lighter: #FDF2E0;
//escala de grices
$black: #000;
$grey_39: #9B9B9B;
$grey_19: #D1D0D0;
$grey_6: #F1F1F1;
$white: #fff;
//backup color
$danger_darker: #781118;
$danger_dark: #A9141E;
$danger_regular: #B91928;
$danger_light: #CA525B;
$danger_lighter: #F7E4E6;
//backup color
$info_darker: #005989;
$info_dark: #007DC1;
$info_regular: #0F90D0;
$info_light: #48A7DC;
$info_lighter: #E3F1FA;
//backup color
$success_darker: #3C6A0F;
$success_dark: #53950F;
$success_regular: #64A622;
$success_light: #86B954;
$success_lighter: #ECF5E4;



.colores{
  margin-top: 1.5rem;
}

.content-color{
  display: flex;
  flex-direction: column;
  text-align: center;

}
.color{
  width: 100%;
  padding: 0;
  font-size: 12px;

  &__paint{
    height: 130px;
    width: 100%;
  }

  &__info{
    background-color: $color_white;
    text-align: left;
    padding: 10px;

    p{
      margin: 0;
      font-size: 13px !important;
    }
  }

  //main color
  &--main-darker{background-color: $main_darker;}
  &--main-dark{background-color: $main_dark;}
  &--main-regular{background-color: $main_regular;}
  &--main-light{background-color: $main_light;}
  &--main-lighter{background-color: $main_lighter;}
  //escala de grices
  &--black{background-color: $black;}
  &--grey-39{background-color: $grey_39;}
  &--grey-19{background-color: $grey_19;}
  &--grey-6{background-color: $grey_6;}
  &--white{background-color: $white;}
  //backup color
  &--danger-darker{background-color: $danger_darker;}
  &--danger-dark{background-color: $danger_dark;}
  &--danger-regular{background-color: $danger_regular;}
  &--danger-light{background-color: $danger_light;}
  &--danger-lighter{background-color: $danger_lighter;}
  //backup color
  &--info-darker{background-color: $info_darker;}
  &--info-dark{background-color: $info_dark;}
  &--info-regular{background-color: $info_regular;}
  &--info-light{background-color: $info_light;}
  &--info-lighter{background-color: $info_lighter;}
  //backup color
  &--success-darker{background-color: $success_darker;}
  &--success-dark{background-color: $success_dark;}
  &--success-regular{background-color: $success_regular;}
  &--success-light{background-color: $success_light;}
  &--success-lighter{background-color: $success_lighter;}

.info-color{
  color: $color_grey_regular;
  display: block;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 12px;
  .name-color{
    text-transform: uppercase;
    font-weight: 700;
  }
  p{margin: 0;}
 }
}
