.browser-window{
  text-align: left;
  width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 5px 5px 2px 2px;
  background-color: #fff;
  margin: 20px 0px;
  overflow: hidden;

  .top-bar{
    border-radius: 5px 5px 0 0;
    border-top: thin solid #eaeae9;
    border-bottom: thin solid #dfdfde;
    background-color: $color_grey_light;
  }

  .circles{
    margin: 5px 12px;

    .circle{
      height: 10px;
      width: 10px;
      display: inline-block;
      border-radius: 50%;
      background-color: #fff;
      margin-right: 1px;
    }

    .close-circle{
      background-color: #FF5C5A;
    }
    .minimize-circle{
      background-color: #FFBB50;
    }
    .maximize-circle{
      background-color: #1BC656;
    }
  }

  .content{
    margin: 0;
    width: 100%;
    display: inline-block;
    border-radius: 0 0 5px 5px;
    background-color: #fafafa;
    color: $color_white;

    .flat-text{
      height: 25px;
      width: 80%;
      background-color: $color_grey_dark;
      display: block;
      margin: 27px auto;
    }
    .flat-text-header{
      height: 35px;
      width: 80%;
      background-color: $color_grey_darker;
      display: block;
      margin: 27px auto;
    }
  }
  .site-layout-example{
    background-color: $color_grey_light;
  }
  .site-layout-example-top{
    background-color: $color_grey_regular;
    width: 100%;

    p{margin: 0;}

    .secondary-nav{
      text-align: center;
      padding: 5px 0;
      border-bottom: 1px solid $color_grey_dark;
    }
    .primary-nav{
      padding: 5px 0;
      display: flex;
      justify-content: space-around;
      background-color: $color_grey_regular;
    }
  }
  .site-layout-example-left{
    background-color: #90a4ae;
    height: 300px;

  }
  .site-layout-example-right{
    background-color: #26a69a;
    height: 300px;
  }
}
