.icon-elem{
  font-family: material-ketchup!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

.icon-elem--arrow_drop_down:before {
    content: "";
}

.icon-elem--help_outline:before {
    content: "";
}

h1{font-size:32px}
h2{}
h3{}
h4{font-size:24px}
h5{}
h6{}

ul{
  padding: 0;
}

li{
  list-style: none;
  margin: .5em 0;
}

li a {
  text-decoration: none;
}

h4,h6{
  margin: 0;
}

.horizon{
  margin-bottom: 24px;
}

.horizon-16{
  margin-bottom: 16px
}

/*
/////////////
////////////GRILLA
////////////
*/

.row{
  display: flex;
}

.row .col {
  padding: 0 5px;
  flex: 1;
}

.col:first-child{
  padding-left: 0;
}

.col:last-child{
  padding-right: 0;
}

.row .col-3{
  flex: 3
}

.row .col-2{
  flex: 2
}

/*HTML PAGO*/

.pago-servicios{
  background-color: #fff;
  font-size: 14px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.contenedor-pagos{
  width: 60%;
  margin: 0 auto;
}

.breadcrum{
  margin: 0;
}

.barra-progreso__paso{
  height: 21px;
  color: #fff;
  flex: 1;
  text-align: center;
}

.tabla{
  width: 100%;
  border-collapse:collapse;
}

.tabla__head .tabla__fila .tabla__titulo{
  padding: 15px;
}

.tabla__titulo a {
  text-decoration: none;
}

.tabla__celda{
  padding: 8px 0 8px 35px;
}

.tabla__body .tabla__fila .tabla__celda{
  padding-left: 48px;
}
.contenedor{
  width: auto;
}

.btn{
  cursor: pointer;
}

.navegacion--secundaria .navegacion__menu .navegacion__item:first-child{
  margin-left: 25px;
}

.navegacion__link:hover{
	text-decoration: underline;
}

.navegacion__item--activo{
	background-color: #F49600;
}

.navegacion__item--activo .navegacion__link {
	color: #fff;
}
