@font-face {
  font-family: 'banco-estado';
  src:  url('../fonts/banco-estado.eot?16a6i1');
  src:  url('../fonts/banco-estado.eot?16a6i1#iefix') format('embedded-opentype'),
    url('../fonts/banco-estado.ttf?16a6i1') format('truetype'),
    url('../fonts/banco-estado.woff?16a6i1') format('woff'),
    url('../fonts/banco-estado.svg?16a6i1#banco-estado') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icono-family {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'banco-estado' !important;
  speak: none;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding: 0 4px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icono{
  @extend %icono-family;

  &--error{
    &:before{
      content: "\e001";
    }
  }

  &--check{
    &:before{
      content: "\e002";
    }
  }

  &--descarga{
    &:before{
      content: "\e003";
    }
  }

  &--exito{
    &:before{
      content: "\e004";
    }
  }

  &--imprimir{
    &:before{
      content: "\e005";
    }
  }

  &--informacion{
    &:before{
      content: "\e006";
    }
  }

  &--mail{
    &:before{
      content: "\e007";
    }
  }

  &--pdf{
    &:before{
      content: "\e008";
    }
  }

  &--tooltip{
    &:before{
      content: "\e009";
    }
  }
  &--radio-button{
    &:before{
      content: "\e010";
    }
  }
  &--flecha-abajo{
    &:before{
      content: "\e011";
    }
  }
  &--flecha-arriba{
    &:before{
      content: "\e012";
    }
  }
  &--flecha-derecha{
    &:before{
      content: "\e013";
    }
  }
  &--flecha-izquierda{
    &:before{
      content: "\e014";
    }
  }
}
