///////////////////////////
///////////////////////////FORMULARIOS
///////////////////////////

.formulario{
  width: 100%;

  &__input{
    box-sizing: border-box;

    //RADIO AND CHECKBOX

    input[type="checkbox"],input[type="radio"]{
      display: none;

      &:checked+.formulario__input--checkbox,
      &:checked+.formulario__input--radio{
        background-color: #F49600;
      }

      &:checked+.formulario__input--radio:before,&:checked+.formulario__input--checkbox:before{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $icon_font;
        font-size: 10px;
      }

      &:checked+.formulario__input--checkbox:before{
        content: "\e002";
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
      }
      &:checked+.formulario__input--radio:before{
        content: "\e010";
        color: #F49600;
        background-color: $white;
        width: 100%;
        height: 100%;
        font-size: 8px;
      }
    }

    &--checkbox,&--radio{
      height: 20px;
      width: 20px;
      background: #fff;
      position: relative;
      transition: all .2s ease;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      border: 1px solid #979797;
    }

    &--radio{
      border-radius: 100%;
      height: 20px;
      width: 20px;
    }

    &--desactivado{
        .formulario__input--checkbox{
        background-color: #F1F1F1;
        border-color: #D1D0D0;
        cursor: no-drop;
      }
    }

    //TEXTS Y SELECT
    input[type="text"],select{
      padding: 0 20px;
      border-radius: 5px;
      border: 2px solid #F1F1F1;
      width: 100%;
      height: 40px;
      background-color: #fff;
      display: block;
      font-size: 14px;

      &::placeholder{
        color: #9B9B9B;
        font-weight: 400;
        font-size: 14px;
      }
    }
    select{
      cursor: pointer;
      background-position: 100% 50%;
      background-repeat: no-repeat;
      background-image: url(../images/iconos/fondo-select.svg);
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
    }
  }



  &__label{
      color: #333;
      font-size: 14px;
      margin-left: 8px;
    }

&__footer{
  font-size: 10px;
  margin: 0;
}
/*
  &:hover{
    font-weight: 700;
    .formulario__input--checkbox{
      box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    }
  }
*/
}

.formulario__input--calendario{
  .formulario__input--text{
    cursor: pointer;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-image: url(../images/iconos/fondo-calendario.svg);
  }
}

.change-border-color{
  border-color: #f49600 !important;
}
