///////////////////////////
///////////////////////////TIPOGRAFIAS
///////////////////////////

$base_sans_font_family: 'Open Sans', Helvetica, Arial, sans-serif !default;
$icon_font: "banco-estado";

///////////////////////////
///////////////////////////COLORES
///////////////////////////

//main color
$main_darker: #A35E00;
$main_dark: #E78400;
$main_regular: #F49600;
$main_light: #F8AD38;
$main_lighter: #FEF9F0;
//escala de grices
$black: #000;
$grey_39: #9B9B9B;
$grey_19: #D1D0D0;
$grey_6: #F1F1F1;
$white: #fff;
//backup color
$danger_darker: #781118;
$danger_dark: #A9141E;
$danger_regular: #B91928;
$danger_light: #CA525B;
$danger_lighter: #FBF1F2;
//backup color
$info_darker: #005989;
$info_dark: #007DC1;
$info_regular: #0F90D0;
$info_light: #48A7DC;
$info_lighter: #F1F8FC;
//backup color
$success_darker: #3C6A0F;
$success_dark: #53950F;
$success_regular: #64A622;
$success_light: #86B954;
$success_lighter: #F6F9F2;

///////////////////////////
///////////////////////////TAMAÑOS
///////////////////////////

$text_sizes: (
	supermini: 	.3125rem, 			// 5px
	ten: 		.625rem,	 		// 10px
	eleven: 	.6875rem, 			// 11px
	mini: 		.75rem, 	 		// 12px
	tiny: 		.875rem,			// 14px
	small: 		.9375rem, 			// 15px
	regular: 	1rem,				// 16px
	midreg: 	1.0625rem,	  		// 17px
	medium: 	1.125rem,	 		// 18px
	big: 		1.25rem,	 		// 20px
	tall: 		1.375rem,			// 22px
	midtall: 	1.5rem,			 	// 24px
	taller: 	1.5625rem,			// 25px
	tallest: 	1.75rem,			// 28px
	huge: 		1.875rem,		 	// 30px
	double: 	2rem, 	           	// 32px
	main: 		2.25rem, 			// 36px
	beast: 		2.5rem, 			// 40px
	full: 		2.875rem, 			// 46px
	logoh: 		3.438rem,			// 55px
	icon: 		4rem, 				// 64px
	logow: 		11.8125rem 			// 189px
);

///////////////////////////
///////////////////////////ICONOS
///////////////////////////

$icono-error: "\e001";
$icono-check: "\e002";
$icono-descarga: "\e003";
$icono-exito: "\e004";
$icono-imprimir: "\e005";
$icono-informacion: "\e006";
$icono-mail: "\e007";
$icono-pdf: "\e008";
$icono-tooltip: "\e009";
$icono-radio-button: "\e010";
$icono-flecha-abajo: "\e011";
$icono-flecha-arriba: "\e012";
$icono-flecha-derecha: "\e013";
$icono-flecha-izquierda: "\e014";
$icono-calendario: "\e015";
