///////////////////////////
///////////////////////////HEADS
///////////////////////////

.heads{
h1{font-size: map-get($text_sizes, double)!important;}
h2{font-size: map-get($text_sizes, tallest)!important;}
h3{font-size: map-get($text_sizes, midtall)!important;}
h4{font-size: map-get($text_sizes, big)!important;}
h5{font-size: map-get($text_sizes, medium)!important;}
h6{font-size: map-get($text_sizes, regular)!important;}
}
///////////////////////////
///////////////////////////BOTONES
///////////////////////////

.btn{
  padding: 10px 30px;
  font-family: $base_sans_font_family;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-font-smoothing: antialiased;

  &--principal{
    background-color: #F49600;
    color: #fff;

    &:hover{
      background-color: #E78400!important;
      color: #fff;
    }
  }

  &--borde{
    color: #F49600;
    border: 1px solid #F49600;
    background: transparent;

    &:hover{
      background-color: #F49600;
      color: #fff;
    }
  }

  &--mini{
    font-size: 12px;
  }

}

///////////////////////////
///////////////////////////ALERTAS
///////////////////////////

.caja-alerta{
  background-color: #eee;
  padding: 24px;
  color: #000;
  display: flex;
  align-items: center;

  &__icono{
    span{
      font-size: 37px;
    }
  }
  &__cuerpo{
    margin: 16px 0 0 16px;
  }
  &__titulo{
    font-size: 14px;
    font-weight: 700
  }
  &__mensaje{
    font-size: 12px ;
    font-weight: 400;
  }
  &__correo{
    font-weight: 700
  }

  &--exito{
    background-color: #F6F9F2;
    color: #438300;

    h6,p,span{
      color: #438300;
    }
  }
  &--informacion{
    background-color: #F1F8FC;
    color: #004B85;

    h6,p,span{
      color:#004B85;
    }
  }
  &--error{
    background-color: #FBF1F2;
    color: #B91928;

    h6,p,span{
      color: #B91928;
    }
  }
}

///////////////////////////
///////////////////////////TABLAS
///////////////////////////

.tabla {
  font-size: 12px;
  color: #333;
  border: 2px solid #F1F1F1;

  &__fila{
    border-bottom: 2px solid #F1F1F1;
  }

  &__input{
    margin-right: 8px;
  }

  &__head{
    background-color: #F1F1F1;

    .tabla__fila{

      .tabla__titulo{
        background-color: #F1F1F1;
        font-size: 12px;
        font-weight: 700;
        color: #333;

        .tabla__orden{
          color: #333;
        }
      }
    }
  }

  &__body{
    background-color: #F1F1F1;

    .tabla__fila{
      background-color: #fff;

      .tabla__celda{
        background-color: #fff;
        padding-left: 35px;
      }
    }
  }
}

.tabla-responsiva{
  width: 100%;
  display: block;
  overflow-x: auto;
}

///////////////////////////
///////////////////////////FORMULARIOS
///////////////////////////

.formulario{
  width: 100%;

  &__input{
    box-sizing: border-box;

    //RADIO AND CHECKBOX

    input[type="checkbox"],input[type="radio"]{
      display: none;

      &:checked+.formulario__input--checkbox,
      &:checked+.formulario__input--radio{
        background-color: #F49600;
      }

      &:checked+.formulario__input--radio:before,&:checked+.formulario__input--checkbox:before{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $icon_font;
        font-size: 10px;
      }

      &:checked+.formulario__input--checkbox:before{
        content: "\e002";
      }
      &:checked+.formulario__input--radio:before{
        content: "\e010";
        color: #F49600;
        background-color: $white;
        width: 100%;
        height: 100%;
      }
    }

    &--checkbox,&--radio{
      height: 20px;
      width: 20px;
      border: 1px solid #979797;
      background: #fff;
      position: relative;
      transition: all .2s ease;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
    }

    &--radio{
      border-radius: 100%;
    }

    &--desactivado{
        .formulario__input--checkbox{
        background-color: #F1F1F1;
        border-color: #D1D0D0;
        cursor: no-drop;
      }
    }

    //TEXTS Y SELECT
    input[type="text"],select{
      padding: 10px 20px;
      border-radius: 5px;
      border: 2px solid #F1F1F1;
      width: 100%;
      height: 50px;
      background-color: #fff;
      display: block;
      font-size: 14px;

      &::placeholder{
        color: #9B9B9B;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }

  &__label{
      color: #333;
      font-size: 14px;
      margin-left: 8px;
    }

&__footer{
  font-size: 10px;
  margin: 0;
}
/*
  &:hover{
    font-weight: 700;
    .formulario__input--checkbox{
      box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    }
  }
*/
}

///////////////////////////
///////////////////////////BARRA DE PROGRESO
///////////////////////////

.barra-progreso{
  width: 100%;

  &__pasos{
    width: 100%;
    display: flex;
    background-color: #fff;
  }

  &__paso{
    background-color: #C1C0C0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 48px;
    margin-right: 8px;
    position: relative;
    height: 45px;

    &:first-child{
      &::before{
        content: none;
      }
    }

    &:last-child{
      margin-right: 0;

      &::after{
        content: none;
      }
    }

    &::after,&::before{
      content: "";
      position: absolute;
      display: block;
      transform: rotate(45deg);
      width: 31px;
      height: 31px;
      z-index: 1;
    }

    &::before{
      top: 7px;
      left: -16px;
      background-color: #fff;
    }

    &::after{
      top: 7px;
      right: -16px;
      background-color: #C1C0C0;
      z-index: 2;
    }

    &--activo{
      background-color: #86B954;

      &::after{
        background-color: #86B954;
      }
    }
  }
}

///////////////////////////
///////////////////////////breadcrumbS
///////////////////////////

.breadcrumb{
  width: 100%;
  display: flex;

  &__item{
    color: #DA7300;
    font-weight: 400;
    font-size: 10px;

    a{
      color: $main_regular;
    }

    &::after{
      content: "/";
      margin: 0 8px;
      color: #717171;
    }

    &:last-child{
      &::after{
        content: none;
      }
    }
    &--activo{
      color: #717171;
    }
  }
}

///////////////////////////
///////////////////////////PAGINACION
///////////////////////////

.paginacion{
  display: flex;
  a{
    text-decoration: none;
  }


  &__item{
    border: 1px solid #F1F1F1;

    &:first-child{
      border-radius: 5px 0 0 5px;
    }
    &:last-child{
      border-radius: 0 5px 5px 0;
    }

    &--activo{
      background-color: #F49600;
      text-decoration: none;
      border: 1px solid #F49600;

      .paginacion__link{
        color: #fff;
      }
    }

    &--desactivado{
      color: #9B9B9B;
      background-color: #F1F1F1;
      cursor: no-drop;

      a:hover{
        color: #333;
        text-decoration: none;
        cursor: no-drop;
      }
    }
  }
  &__link{
    color: #333;
    padding: 15px 20px;
    display: block;
    font-size: 14px

  /*  &:hover{
      background-color: #F49600;
      color: #fff;
      text-decoration: none;
    }*/
  }

}

///////////////////////////
///////////////////////////NAVEGACION
///////////////////////////

.navegacion{
  width: 100%;

  &__menu{
    display: flex;
    margin: 0;
  }

  &__item{}

  &__link{
    padding: 8px 24px;
    display: block;
  }

  &--principal{
    background-color: #F1F1F1;

    .navegacion__menu{
      margin: 0;
      padding: 0;
    }

    .navegacion__item{
      margin: 0;
      color: #9B9B9B;
    }

    .navegacion__link{
      color: #9B9B9B;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  &--secundaria{
    background-color: #F49600;
    padding-left: 25px;

    .navegacion__menu{}

    .navegacion__item{}

    .navegacion__link{
      color: #fff;
      font-size: 12px;
      padding: 8px 0;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }

      &:after{
        content: "|";
        color: #fff;
        padding: 0 8px;
      }
    }
  }
}

///////////////////////////
///////////////////////////CONTENEDORES
///////////////////////////

.contenedor{
  width: 100%;
  background-color: #F1F1F1;
  border: 2px solid #F1F1F1;
  padding: 24px;
  color: #000;

  &__divisor{
    width: 100%;
    margin: 24px auto;
    height: 1px;
    background-color: #D1D0D0;
  }

  &__titulo{
    font-size: 16px;
    font-weight: 700;
  }
  &__mensaje{
    font-size: 14px;
  }

  &--secundario{
    background-color: transparent;
  }

  &--doble{
    display: flex;

    .divisor{
      flex: 1;

      &:last-child{
        margin-left: 24px;
        display: flex;
        align-items: flex-end;
      }
    }
  }

  &--accion{
      background-color: #FEF9F0;
      border: none;


    .datos{
      margin: 12px 0;
      p{margin:0;}

      &__rotulo{
        font-size: 8px;
        font-weight: 400;
        color: #717171;
        text-transform: uppercase;
        margin-bottom: 4px;
      }
      &__valor{
        font-size: 14px;
        color: #333;
        font-weight: 400;
      }
    }
  }

  &__impresion{
    text-align: right;
    margin-top: 32px;
  }
}


///////////////////////////
///////////////////////////TOOLTIP
///////////////////////////

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 270px;
    font-size: 12px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    line-height: 20px;
    top: -55px;
    left: 35px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext{
  font-family: $base_sans_font_family !important;
}

.tooltiptext{

  &--top{
    margin-top: -102px;
    margin-left: -135px;
    top: 0 !important;
  }

  &--left{
    margin-top: -35px;
    margin-left: -280px;
    top: 0 !important;
    left: 0 !important;
  }

  &--bottom{
    margin-top: 30px;
    margin-left: -135px;
    top: 0 !important;
  }
}
