.row{
  display: flex;

  &:first-child{
    margin-left: 0;
  }
  .col-1{
    max-width: 8.333333%;
    flex: 0 0 8.333333%;
    padding: 8px;
  }
  .col-2{
    max-width: 16.666667%;
    flex: 0 0 16.666667%;
    padding: 8px;
  }
  .col-3{
    max-width: 25%;
    flex: 0 0 25%;
    padding: 8px;
  }
  .col-4{
    max-width: 33.333333%;
    flex: 0 0 33.333333%;
    padding: 8px;
  }
  .col-5{
    max-width: 41.666667%;
    flex: 0 0 41.666667%;
    padding: 8px;
  }
  .col-6{
    max-width: 50%;
    flex: 0 0 50%;
    padding: 8px;
  }
  .col-7{
    max-width: 58.333333%;
    flex: 0 0 58.333333%;
    padding: 8px;
  }
  .col-8{
    max-width: 66.666667%;
    flex: 0 0 66.666667%;
    padding: 8px;
  }
  .col-9{
    max-width: 75%;
    flex: 0 0 75%;
    padding: 8px;
  }
  .col-10{
    max-width: 83.333333%;
    flex: 0 0 83.333333%;
    padding: 8px;
  }
  .col-11{
    max-width: 91.666667%;
    flex: 0 0 91.666667%;
    padding: 8px;
  }
  .col-12{
    max-width: 100%;
    flex: 0 0 100%;
    padding: 8px;
  }
}
